/arm-image-installer-2.5.tar.xz
/arm-image-installer-2.6.tar.xz
/arm-image-installer-2.7.tar.xz
/arm-image-installer-2.8.tar.xz
/arm-image-installer-2.9.tar.xz
/arm-image-installer-2.10.tar.xz
/arm-image-installer-2.11.tar.xz
/arm-image-installer-2.12.tar.xz
/arm-image-installer-2.13.tar.xz
/arm-image-installer-2.14.tar.xz
